{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}{{ block.super }}Home{% endblock %}

{% block navbar-left %}
  {% include "_navbar.html" with active_link="home" %}
{% endblock %}

{% block navbar-right %}
  {% if not user.is_authenticated %}
<a class="btn btn-default" href="{% url 'accounts:login' %}" role="button">Log in</a>
<a class="btn btn-primary" href="{% url 'accounts:signup' %}" role="button">Sign up</a>
  {% else %}
    {{ block.super }}
  {% endif %}
{% endblock %}

{% block splash %}
  <div class="jumbotron jumbotron-carousel corporate-jumbo">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-8">
          <h1>{% include "_brandname.html" %}</h1>
          <p>{% include "_tagline.html" %}</p>
	  <a class="btn btn-primary" href="{% url 'accounts:signup' %}" role="button">Sign up for Free!</a>
        </div>
        <div class="col-md-4 col-sm-4">

        </div>
      </div>
    </div>
  </div>
{% endblock splash %}

{% block container %}
<!-- Benefits of the Django application -->
<a name="about"></a>

<div class="container">
  <div class="row">
  {% for quiz in quizs %}
    <div class="col-lg-4">
      <h2>{{quiz.level}}</h2>
      <p>{{quiz.text_body}}</p>
      <a class="btn btn-primary" role="button" href="{{ quiz.get_absolute_url }}"> {{quiz.level}}</a>
</div>
  {% empty %}
    <div class="col-lg-4">
      <h2>No quiz added</h2>
      <p><a class="btn btn-primary" href="{% url 'quiz:createquiz' %}" role="button">Add Quiz &raquo;</a></p>
    </div>
  {% endfor %}
  </div>
</div>

{% endblock container %}

{% block scripts %}
<script src="{% static 'site/js/site.js' %}"></script>
{% endblock scripts %}

